.vscode

backend/node_modules
backend/src/public/doc
backend/coverage
backend/.nyc_output
backend/.npm
backend/.eslintcache
backend/logs
backend/build
backend/.env
backend/lib-cov

frontend/node_modules
frontend/app/public/doc
frontend/coverage
frontend/.nyc_output
frontend/.npm
frontend/.eslintcache
frontend/logs
frontend/build
frontend/dist
frontend/.env
frontend/lib-cov