<nav class="navbar navbar-light navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Amigo secreto</a>
</nav>
<nav class="nav flex-column nav-pills">
  <a class="nav-link {{vm.active([vm.states.PEOPLE_LIST, vm.states.PERSON_FORM])}}" href ng-click="vm.goto(vm.states.PEOPLE_LIST)">Participantes</a>
  <a class="nav-link {{vm.active([vm.states.SECRETFRIEND_FORM, vm.states.SECRETFRIEND_LIST])}}" href ng-click="vm.goto(vm.states.SECRETFRIEND_LIST)"><i class="fas fa-gift"></i>Amigo Secreto</a>
</nav>
