<div class="card">
    <div class="card-header">Sorteio de Amigo Secreto</div>
    <form class="card-body" id="formperson" name="formsecretfriend">
      <div class="row">
        <div class="col-6 form-group">
          <label for="name">Nome</label>
          <input type="text" name="name" ng-model="secretfriend.name" class="form-control" required>
        </div>
        <div class="col-6 form-group">
            <label for="email">Data de Revelação</label>
            <input type="date" name="revelation_date" ng-model="secretfriend.revelation_date" class="form-control" required>
            <span class="invalid-feedback" ng-show="formsecretfriend.revelation_date.$error.api">{{formsecretfriend.revelation_date.errorMessage}}</span>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          Participantes
        </div>
        <div class="col-12">
          <div class="row">
              <div class="form-check col-4">
                  <input class="form-check-input" type="checkbox" id="person-all" ng-checked="selectAll" ng-model="selectAll" ng-click="vm.checkAll()">
                  <label class="form-check-label" for="person-all">
                    Todos
                  </label>
              </div>
            <div class="form-check col-4" ng-repeat="person in people">
                <input class="form-check-input" type="checkbox" id="person{{person.id}}" ng-model="selectedPeople[person.id]" ng-checked="vm.checked(person.id)">
                <label class="form-check-label" for="person{{person.id}}">
                  {{person.name}}
                </label>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary" ng-click="vm.save(formsecretfriend)">Salvar</button>
          <a class="btn btn-warning" ng-click="vm.cancel()">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
