<div class="card">
    <div class="card-header">
      Amigos Secretos
    </div>
    <div class="card-body">
      <div class="row">
        <div class="offset-8 col-4 align-self-end form-group">
            <input type="search" placeholder="Pesquisar" class="form-control" ng-model="search" ng-model-options="{debounce: 1000}"/>
        </div>
      </div>
      <div class="row">
      <table class="col-12 table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data de Cadastro</th>
            <th>Data de Revelação</th>
            <th>Qtd Participantes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr ng-if="secretsFriends.length === 0">
              <td colspan="4">Nenhum resultado encontrado</td>
            </tr>
            <tr ng-repeat="secretFriend in secretsFriends">
                <td>{{secretFriend.name}}</td>
                <td>{{secretFriend.createdAt}}</td>
                <td>{{secretFriend.revelation_date}}</td>
                <td>{{secretFriend.drawns}}</td>
                <td>
                  <button class="btn btn-primary" ng-click="vm.resend(secretFriend)">Reenviar Emails</button>
                </td>
            </tr>
        </tbody>
      </table>
      <div class="col-12">
        <ul uib-pagination total-items="total" ng-model="page" items-per-page="limit" ng-change="vm.find()"></ul>
      </div>
      </div>
      <button class="btn btn-primary" ng-click="vm.new()">Criar novo sorteio</button>
    </div>
  </div>
